body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,.footer{
    
    display: flex;
    background: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 16px 150px;
    
    
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.left{
    font-size: 32px;
    
    font-weight: 700;

}

.right{

    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.content{
    background: #1f2937;
    display: flex;
    color: #f9faf8;
    padding: 50px 150px;
    justify-content: space-between;
    
}

.text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: auto;
}



.bold{
    font-size: 48px;
    font-weight: bold;
}

.image{
    border-radius: 10px 50px;
    border: solid black;
    flex-shrink: 1;
}



.signup{
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    border: #1f2937;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

h3{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.sports{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
}

.sports div{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 8px auto;
    flex: 0 0 0%;
    margin-bottom: 16px;
    
}

.small-image{
    flex-shrink: 1;
    height: 200px;
    border-radius: 32px;
    border: solid #243755;
    margin-bottom: 16px;
}

.quote{ 
    background: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 400px;
}
.quote div{
    flex:0 0 auto;
}
.author{
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}


.box{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 40px;
    border-radius: 15px;
    border:solid #1f2937;
    background: #3882f6;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 600;
}

.box div{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

.footer{
    font-size: 24px;
    color: #f9faf8;
    justify-content: center;
}

